- provide :title, t('users.confirmation')
.container
  .row
    .col.s12
      %h2= t('users.send_confirmation')

      .row
        .col.s12.m6
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!

            .row
              .input-field.col.s12
                = f.label :email
                = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

            .row
              .input-field.col.s12= f.submit t('users.send_confirmation'), class: 'btn'

            = render 'users/shared/links'
