- if user_signed_in?
  %span.tooltipped{ id: "dislike_#{item.class}_#{item.id}", data: { tooltip: t('shared.dislike'), position: 'bottom' } }
    - if current_user.has_dislike?(item.class, item.id)
      = link_to '<i class="mi">thumb_down</i>'.html_safe, current_user.dislike(item.class, item.id), method: 'delete', class: 'btn-flat red-text', remote: true
    - else
      = form_for current_user.dislikes.new, remote: true do |f|
        = f.hidden_field :dislikable_id, value: item.id
        = f.hidden_field :dislikable_type, value: item.class
        %button.btn-flat.grey-text{ type: 'submit' }
          %i.mi thumb_down