- unless comment.new_record?
  .collection-item.avatar
    = image_tag comment.user.image_path(40), class: 'circle'
    %span.title= link_to comment.user.login, comment.user
    %span.right
      = render 'shared/likes_btn', item: comment
      = link_to '<i class="mi">clear</i>'.html_safe, comment, method: 'delete', data: { position: 'left', tooltip: t('shared.delete'), confirm: t('shared.confirm') }, class: 'tooltipped red-text' if user_signed_in? && current_user.admin?
    %p= comment.content