= form_for comment do |f|
  = render 'layouts/errors', object: f.object
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  .row
    .input-field.col.s12.m8.l10
      = f.label :content, t('comments.label')
      = f.text_area :content, class: 'materialize-textarea'
    .input-field.col.s12.m4.l2
      = f.submit t('shared.send'), class: 'btn'