- provide :title, t('session.sign_in')
.container
  .row
    .col.s12
      %h4= t 'session.sign_in'

      .row
        .col.s12.m6
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .row
              .input-field.col.s12
                = f.label :email, t('words.email')
                = f.email_field :email, autofocus: true

            .row
              .input-field.col.s12
                = f.label :password, t('words.password')
                = f.password_field :password, autocomplete: 'off'

            -if devise_mapping.rememberable?
              .row
                .input-field.col.s12
                  = f.check_box :remember_me
                  = f.label :remember_me, t('session.remember_me')

            .row
              .input-field.col.s12
                = f.submit t('session.sign_in'), class: 'btn'

            = render 'users/shared/links'
