.col.s12.m6.l4
  .card.grey.darken-3
    .card-content.white-text
      %h5
        = article.title
        (
        = link_to article.category.name, article.category
        )
      %p= article.description
    .card-action
      = link_to t('shared.view'), article, class: 'white-text'
      .right
        = link_to '<i class="mi">mode_edit</i>'.html_safe, edit_article_path(article), class: 'tooltipped', data: { position: 'bottom', tooltip: t('shared.edit') } if user_signed_in? && current_user.article_owner?(article)
        = link_to '<i class="mi">clear</i>'.html_safe, article, method: 'delete', data: { position: 'bottom', tooltip: t('shared.delete'), confirm: t('shared.confirm') }, class: 'tooltipped red-text' if user_signed_in? && current_user.article_owner?(article)