.row
  .col.s12= render 'layouts/errors', object: f.object
.row
  .input-field.col.s12
    = f.text_field :title
    = f.label :title, t('words.title')
.row
  .input-field.col.s12
    = f.text_area :description, class: 'materialize-textarea'
    = f.label :description, t('words.description')
.row
  .input-field.col.s12
    = f.collection_select :category_id, Category.all, :id, :name
    = f.label :category_id, t('words.category')

.row
  .input-field.col.s12
    = f.cktext_area :body