- provide :title, "#{t('shared.editing')} #{@article.title}"
.container
  .row
    .col.s12
      %h1= "#{t('shared.editing')} #{@article.title}"
      = link_to t('words.articles'), articles_path, class: 'btn'
      =form_for @article do |f|
        = render 'form', f: f
        .row
          .input-field.col.s12.m6
            = f.submit t('shared.edit'), class: 'btn'