- provide :title, t('words.articles')
.container
  .row
    .col.s12
      %h1 Статьи
      -if user_signed_in? && current_user.admin?
        = link_to t('shared.create'), new_article_path, class: 'btn'
      = will_paginate
      .row= render @articles
      = will_paginate