- provide :title, "#{t 'words.new'} #{t 'words.article'}"
.container
  .row
    .col.s12
      %h1= "#{t 'words.new'} #{t 'words.article'}"
      = link_to t('words.articles'), articles_path, class: 'btn'

      = form_for @article do |f|
        = render 'form', f: f
        .row
          .input-field.col.s12.l6
            = f.submit t('shared.create'), class: 'btn'