- provide :title, @article.title
.container
  .row
    .col.s12
      .pushpin-header
        .row
          %h4.col.s12.m6= @article.title
          .col.s12.m6
            .right.valign-wrapper.small
              = render 'shared/likes_btn', item: @article
              = link_to '<i class="mi">mode_edit</i>'.html_safe, edit_article_path(@article), class: 'tooltipped', data: { position: 'bottom', tooltip: t('shared.edit') } if user_signed_in? && current_user.article_owner?(@article)
              = link_to '<i class="mi">clear</i>'.html_safe, @article, method: 'delete', data: { position: 'bottom', tooltip: t('shared.delete'), confirm: t('shared.confirm') }, class: 'tooltipped red-text' if user_signed_in? && current_user.article_owner?(@article)
      %h4= @article.description

      %div= @article.body.html_safe
      .row
        .col.s12
          %ul.tabs
            %li.tab.col.s3= link_to t('words.comments'), '#commentaries'
      #commentaries.col.s12
        = render 'comments/form', comment: @article.comments.new if user_signed_in?
        .collection= render @article.comments