- if user_signed_in?
  %span.tooltipped{ id: "like_#{item.class}_#{item.id}", data: { tooltip: t('shared.like'), position: 'bottom' } }
    - if current_user.has_like?(item.class, item.id)
      = link_to '<i class="mi">thumb_up</i>'.html_safe, current_user.like(item.class, item.id), method: 'delete', class: 'btn-flat green-text', remote: true
    - else
      = form_for current_user.likes.new, remote: true do |f|
        = f.hidden_field :likable_id, value: item.id
        = f.hidden_field :likable_type, value: item.class
        %button.btn-flat.grey-text{ type: 'submit' }
          %i.mi thumb_up