.collection-item.avatar
  = image_tag user.image_path(250), class: 'circle'
  %h5.title
    = link_to user.login, user
    %span.right= link_to '<i class="mi">clear</i>'.html_safe, user, method: 'delete', data: { position: 'left', tooltip: t('shared.delete'), confirm: t('shared.confirm') }, class: 'tooltipped red-text' if user_signed_in? && current_user.admin? && current_user != user
  %p= "#{t 'words.articles'}: #{user.articles.size}, #{t 'words.comments'}: #{user.comments.size}, #{t 'shared.like'}: #{user.likes.size}, #{t 'shared.dislike'}: #{user.dislikes.size}"
