- provide :title, t('words.users')
.container
  .row
    .col.s12
      %h2= t 'words.users'
      .row
        .col.s12
          = will_paginate
          %ul.collection= render @users
          = will_paginate