- provide :title, @user.login
.container
  .row
    .col.s12
      .row
        .col.s12.m4.l2
          %h4= @user.login
          = image_tag @user.image_path(150), style: 'width: 100%'
          %br
          .divider
          .row
            .col.s12= "#{t 'words.articles'}: #{@user.articles.size}"
            .col.s12= "#{t 'words.comments'}: #{@user.comments.size}"
            .col.s12= "#{t 'shared.like'}: #{@user.likes.size}"
            .col.s12= "#{t 'shared.dislike'}: #{@user.dislikes.size}"
          .divider
          = link_to 'Edit', edit_user_registration_path(@user) if user_signed_in? && current_user == @user

        .col.s12.m8.l6
          %h5 Статьи
          %ul.collapsible{ 'data-collapsible' => 'accordion' }
            - @user.articles.each do |article|
              %li
                .collapsible-header
                  = link_to article.title, article
                  -#%i.grey-text.sm= article.created_at
                  = link_to '<i class="mi">clear</i>'.html_safe, article, method: 'delete', class: 'right small red-text', data: { confirm: t('shared.confirm') } if user_signed_in? && current_user.article_owner?(article)
                .collapsible-body
                  %p= article.description