-# TODO: refactor it
- count, result = (item.likes.size - item.dislikes.size), 'exposure'
  - if count < 0
    - result += "_neg_#{-count}"
  - else if count == 0
    - result += '_zero'
  - else
    - result += "_plus_#{count}"
.likes-box.small{ id: "#{item.class}_#{item.id}" }
  = render 'likes/like_btn', item: item
  %i.mi= result
  = render 'dislikes/dislike_btn', item: item
