- provide :title, t('shared.about_me')

.parallax-container
  .parallax= image_tag 'winter'

.section.white
  .row.container
    %h2.header= t('shared.about_me')
    %p Test

.parallax-container
  .parallax= image_tag 'phone-cam'
