- provide :title, t('words.main')

.slider.fullscreen
  %ul.slides
    %li
      = image_tag 'higtroad'
      .caption.center-align
        %h3 This is our big Tagline!
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      = image_tag 'phone-cam'
      .caption.left-align
        %h3 Left Aligned Caption
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      = image_tag 'winter'
      .caption.right-align
        %h3 Right Aligned Caption
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      = image_tag 'girldress'
      .caption.center-align
        %h3 This is our big Tagline!
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.