= render 'layouts/errors', object: f.object
.row
  .input-field.col.s12
    = f.text_field :title
    = f.label :title, t('words.title')
.row
  .input-field.col.s12
    = f.text_area :description, class: 'materialize-textarea'
    = f.label :description, t('words.description')
.row
  .input-field.col.s12
    = f.text_field :meta_title
    = f.label :meta_title, t('words.meta_title')
.row
  .input-field.col.s12
    = f.text_area :meta_description, class: 'materialize-textarea'
    = f.label :meta_description, t('words.meta_description')
.row
  .input-field.col.s12
    = f.text_area :meta_keywords, class: 'materialize-textarea'
    = f.label :meta_keywords, t('words.meta_keywords')
.row
  .input-field.col.s12
    = f.check_box :enabled
    = f.label :enabled, t('words.enabled')
.row
  .input-field.col.s12
    .switch
      %label
        = "#{t 'words.comments'} #{t 'words.off'}"
        = f.check_box :commentabled
        %span.lever
        = t 'words.on'
.row
  .input-field.col.s12
    = f.cktext_area :body
