%li.collapsible
  .collapsible-header
    = link_to page.title, page
    .right
      = link_to '<i class="mi">edit</i>'.html_safe, edit_page_path(page), class: 'blue-text'
      = link_to '<i class="mi">clear</i>'.html_safe, page, method: 'delete', class: 'red-text', data: { confirm: t('shared.confirm') }
  .collapsible-body
    %p= page.description