- provide :title, "#{t 'shared.editing'} #{@page.title}"
.container
  .row
    .col.s12
      %h4= "#{t 'shared.editing'} #{@page.title}"
      = form_for @page do |f|
        = render 'pages/form', f: f
        .row
          .input-field.col.s12
            = f.submit t('shared.save'), class: 'btn'