- provide :title, t('words.pages')
.container
  .row
    .col.s12
      .row
        %h4.col.s12.m6= t 'shared.pages'
        .col.s12.m6
          .right= link_to t('shared.create'), new_page_path, class: 'btn btn-sm'

    .col.s12
      = will_paginate
      %ul.collapsible{ 'data-collapsible' => 'accordion' }= render @pages
      = will_paginate