- provide :title, "#{t 'words.new'} #{t 'words.page'}"
.container
  .row
    .col.s12
      %h4= "#{t 'words.new'} #{t 'words.page'}"
      = form_for @page do |f|
        = render 'pages/form', f: f
        .row
          .input-field.col.s12
            = f.submit t('shared.create'), class: 'btn'