- provide :title, @page.title
.container
  .row
    .col.s12
      = @page.body.html_safe

    - if @page.commentabled
      .col.s12
        %ul.tabs
          %li.tab.col.s3= link_to t('words.comments'), '#commentaries'
      #commentaries.col.s12
        = render 'comments/form', comment: @page.comments.new if user_signed_in?
        .collection= render @page.comments