@import url(https://fonts.googleapis.com/css?family=Jura|Comfortaa|Lobster|Roboto:100|Open+Sans:400,300&subset=latin,cyrillic);

@mixin comfortaa  { font-family: 'Comfortaa', cursive; }
@mixin lobster    { font-family: 'Lobster', cursive; }
@mixin roboto     { font-family: 'Roboto', sans-serif; font-weight: normal; }
@mixin opensans   { font-family: 'Open Sans', sans-serif; font-weight: normal; }
@mixin jura       { font-family: 'Jura', sans-serif; }

.brand-logo { @include lobster; }
//* { @include jura; }