%li.collection-item
  = link_to category.name, category_path(category), class: 'tooltipped', 'data-tooltip' => category.description, 'data-position' => 'right'
  = link_to t('shared.delete'), category, method: 'delete', data: { confirm: t('shared.confirm') }, class: 'btn red right'
  %ul.collection= render category.categories unless category.categories.empty?