- provide :title, t('words.categories')
.container
  .row
    %ul.collection.col.s12
      %li.collection-header
        %h4= t 'words.categories'
      - Category.where(category_id: 0).to_a.each do |category|
        = render 'categories/category', category: category