%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text= t('shared.site_name')
        %p.white-text ...
      .col.l4.offset-l2.s12
        %h5.white-text= t('words.links')
        %ul
          %li= link_to t('words.users'), users_path, class: 'white-text'
          %li= link_to t('words.articles'), articles_path, class: 'white-text'
          %li= link_to t('words.categories'), admin_categories_path, class: 'white-text' if user_signed_in? && current_user.admin?
          %li= link_to t('words.pages'), pages_path, class: 'white-text' if user_signed_in? && current_user.admin?
  .footer-copyright
    .container
      &copy; 2015 VooVe Ltd.
      = link_to 'More links', root_path, class: 'grey-text text-lighten-4 right'