.navbar-fixed
  %nav
    .container.nav-wrapper
      = link_to t('shared.site_name'), root_path, class: 'brand-logo'
      = link_to '<i class="mi">menu</i>'.html_safe, '#!', data: { activates: 'slide_out' }, class: 'button-collapse'
      %ul.right.hide-on-med-and-down= render 'layouts/nav'
      %ul#slide_out.side-nav= render 'layouts/nav'
      %ul#user_menu.dropdown-content
        - if user_signed_in?
          %li= link_to current_user.login, current_user
          %li= link_to t('session.sign_out'), destroy_user_session_path, method: 'delete'
        -else
          %li= link_to t('session.sign_in'), new_user_session_path
          %li= link_to t('session.sign_up'), new_user_registration_path