%li= link_to t('words.main'), root_path
%li= link_to t('words.articles'), articles_path
%li= link_to t('shared.about_me'), about_path
%li= link_to t('words.contacts'), contacts_path
%li= render 'layouts/user_menu'