<!DOCTYPE html>
%html
  %head
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1.0' }
    %title= full_title(yield(:title))
    = csrf_meta_tags
  %body
    %header= render 'layouts/header'
    %main
      = render 'layouts/flash' unless flash.empty?
      = yield
    = render 'layouts/footer'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
