= devise_error_messages!

.row
  .input-field.col.s12
    = f.label :login, t('words.login')
    = f.text_field :login, autofocus: true
.row
  .input-field.col.s12
    = f.label :email, t('words.email')
    = f.email_field :email
.row
  .input-field.col.s12
    = f.label :password, t('words.password')
    - if @minimum_password_length
      -#%em = "#{@minimum_password_length} characters minimum"
    = f.password_field :password, autocomplete: 'off'
.row
  .input-field.col.s12
    = f.label :password_confirmation, t('words.password_confirmation')
    = f.password_field :password_confirmation, autocomplete: 'off'