- provide :title, "#{t ''} #{resource_name.to_s.humanize}"
.container
  .row
    .col.s12
      %h2= "Edit #{resource_name.to_s.humanize}"

      .row
        .col.s12.m6
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = render 'form', f: f

            .row
              .input-field.col.s12
                = f.label :current_password, t('words.password')
                = f.password_field :current_password, autocomplete: 'off'
            .row
              .input-field.col.s12= f.submit 'Update', class: 'btn'

      %h3 Cancel my account

      %p
        Unhappy?
        = button_to t('users.remove_account'), registration_path(resource_name), data: { confirm: t('shared.confirm') }, method: :delete, class: 'btn red'

      = link_to t('shared.back'), :back
