- provide :title, t('session.sign_up')
.container
  .row
    .col.s12
      %h4= t 'session.sign_up'

      .row
        .col.s12.m6
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render 'form', f: f
            .row
              .input-field.col.s12= f.submit t('session.sign_up'), class: 'btn'

            = render 'users/shared/links'
